[05 - Data Structures](https://docs.python.org/3.5/tutorial/datastructures.html)

- [Lists](#5.1.-Lists) - [A,B]
- [List Comprehensions](#5.1.3.-List-Comprehensions)
- [Nested List Comprehensions](#5.1.4.-Nested-List-Comprehensions)
- [The del statement](#5.2.-The-del-statement)
- [Tuples and Sequences](#5.3.-Tuples-and-Sequences) - A,B
- [Sets](#5.4.-Sets) - {A,B}
- [Dictionaries](#5.5.-Dictionaries) - {A:value,B:value}
- [Looping Techniques](#5.6.-Looping-Techniques)
- [Comparing Sequences and Other Types](#5.8.-Comparing-Sequences-and-Other-Types)

# 5.1. Lists

In [18]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print("count of 'apple' =", fruits.count('apple'))
print("count of 'tangerine' =", fruits.count('tangerine'))
print("index of 'banana' =", fruits.index('banana'))
print("index of 'banana' from 4 =", fruits.index('banana', 4))

fruits.reverse()
print("reversed:", fruits)

fruits.append('grape')
print("appended:",fruits)

fruits.sort()
print("sorted:  ", fruits)

print("pop operation:", fruits.pop())

count of 'apple' = 2
count of 'tangerine' = 0
index of 'banana' = 3
index of 'banana' from 4 = 6
reversed: ['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
appended: ['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
sorted:   ['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
pop operation: pear

In [24]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves
queue.popleft()                 # The second to arrive now leaves
queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

## 5.1.3. List Comprehensions

In [19]:
squares = []

for x in range(10):
    squares.append(x**2)

print(squares)      
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
9

In [33]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
# Get documentation
?map

In [38]:
list(enumerate([x**2 for x in range(10)]))

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [46]:
[(x, y) for x in range(1,4) for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [42]:
?range

In [47]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [23]:
matrix = [[1,2,3], [4,5,6], [7,8,9]]
[number for vector in matrix for number in vector]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

## 5.1.4. Nested List Comprehensions

In [51]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
[[row[index] for row in matrix] for index in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [54]:
[row for row in matrix]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [57]:
list(zip(matrix))

[([1, 2, 3, 4],), ([5, 6, 7, 8],), ([9, 10, 11, 12],)]

In [62]:
list(zip(*matrix))
#zip(iter1 [,iter2 [...]])
#zip(matrix[0], matrix[1], matrix[2], matrix[3])

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [68]:
list(zip(matrix[0], matrix[1], matrix[2]))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [67]:
?zip

In [69]:
list(range(3, 6))            # normal call with separate arguments

args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

## 5.2. The del statement

In [72]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [73]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [74]:
del a[:]
a

[]

In [75]:
del a

## 5.3. Tuples and Sequences

In [37]:
t = 12345, 54321, 'hello!'
print(t[0])
print(t)

12345
(12345, 54321, 'hello!')

In [40]:
# immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [3]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v[0][1] = 4
v

([1, 4, 3], [3, 2, 1])

In [38]:
# may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [83]:
empty = ()
len(empty)

0

In [4]:
singleton = 'hello',    # <-- note trailing comma
len(singleton)

1

In [41]:
# unpacking
t = 12345, 54321, 'hello!'
x, y, z = t

## 5.4. Sets

In [26]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

print("duplicates have been removed:", basket)
print("fast membership testing:", 'orange' in basket, 'crabgrass' in basket)

duplicates have been removed: {'banana', 'orange', 'apple', 'pear'}
fast membership testing: True False

In [35]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alacazam')

print("unique letters in a\n", a)
print("letters in a but not in b\n", a - b)
print("letters in a or b or both\n", a | b)
print("letters in both a and b\n", a & b)
print("letters in a or b but not both\n", a ^ b)

unique letters in a
 {'a', 'b', 'd', 'r', 'c'}
letters in a but not in b
 {'d', 'b', 'r'}
letters in a or b or both
 {'a', 'b', 'l', 'd', 'z', 'm', 'r', 'c'}
letters in both a and b
 {'c', 'a'}
letters in a or b but not both
 {'z', 'm', 'b', 'd', 'l', 'r'}

In [28]:
{x for x in 'abracadabra' if x not in 'abc'}

{'d', 'r'}

## 5.5. Dictionaries

In [36]:
a = {}
a['test']

KeyError: 'test'

In [18]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [19]:
tel['jack']

4098

In [20]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [21]:
list(tel)

['jack', 'guido', 'irv']

In [22]:
sorted(tel)

['guido', 'irv', 'jack']

In [23]:
'guido' in tel

True

In [24]:
'jack' not in tel

False

In [25]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [27]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [28]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

## 5.6. Looping Techniques

In [33]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [31]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [34]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [35]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [36]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [37]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

In [38]:
[value for value in raw_data if not math.isnan(value)]

[56.2, 51.7, 55.3, 52.5, 47.8]

In [42]:
a, b, c = 1, 2, 2
a < b == c

True

In [43]:
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

## 5.8. Comparing Sequences and Other Types

In [44]:
(1, 2, 3)              < (1, 2, 4)
[1, 2, 3]              < [1, 2, 4]
'ABC' < 'C' < 'Pascal' < 'Python'
(1, 2, 3, 4)           < (1, 2, 4)
(1, 2)                 < (1, 2, -1)
(1, 2, 3)             == (1.0, 2.0, 3.0)
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True